{% extends "BackWebsiteBundle::layout.html.twig" %}

{% block css %}{% endblock %}

{% block menu %}{% endblock %}

{% block content %}

	{% include 'BackWebsiteBundle:Default:menu.html.twig' %}
	
	<section id="admin">
		<h1>Modification d'une référence</h1>
		<div id="section-content">
			{{ form_errors(form) }}
			<form method="post" action="{{ path('back_partner_update', {'id':obj.id}) }}" {{ form_enctype(form) }}>
			<table class="table-form">
				<tr>
					<th>{{ form_label(form.name, "Nom") }}</th>
					<td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
				</tr>
				<tr>
					<th>{{ form_label(form.url, "Url") }}</th>
					<td>{{ form_errors(form.url) }}{{ form_widget(form.url) }}</td>
				</tr>
				<tr>
					<th>{{ form_label(form.media, "Média") }}</th>
					<td>{{ form_errors(form.media) }}{{ form_widget(form.media) }}</td>
				</tr>
				<tr>
					<th>{{ form_rest(form) }}</th>
					<td>
						<input type="submit" class="btn success left" />
						<a class="btn cancel right" href="{{path('back_ref_homepage')}}">Annuler</a>
					</td>
				</tr>
			</table>
			</form>
		</div>
	</section>
{% endblock %}

{% block js %}{% endblock %}